<nav class='navbar'>
  <a class='navbar-link aligned-row' href='/'>
    <img src='/logo.png' width=64 height=64 />
  </a>
  <a class='navbar-link' href='/'>Home</a>
  <!--
  <a class='navbar-link' href='/blog'>Blog</a>
  -->
  <a class='navbar-link' href='/roadmap/'>Roadmap</a>
  <a class='navbar-link' href='https://forum.indiebits.io/c/lastlogin/12'>Support</a>
  <a class='navbar-link' href='/developers/'>Developers</a>
  <a class='navbar-link' href='https://github.com/lastlogin-net/obligator'>Code</a>
  <a class='navbar-link' href='/privacy/'>Privacy</a>
  <a class='navbar-link' href='/pricing/'>Pricing</a>
</nav>
